# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Package build artifacts
*egg-info/
build/
dist/

# Testing
.pytest_cache/

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store